extends layout

block content
  h1= title

  if (toShow == null) 
    h2 No instance to detail 
  else 
  - let id = toShow.id
  - let Pigment = toShow.Pigment
  - let Power = toShow.Power
  - let Location = toShow.Location
    div
     div.row
      div(class='jackalAttr mr-3') Jackal ID is:
      div #{id}
     div.row
      div(class='jackalAttr mr-3') Jackal Pigment is:
      div #{Pigment}
     div.row
      div(class='jackalAttr mr-3') Jackal Power is:
      div #{Power}
     div.row
      div(class='jackalAttr mr-3') Jackal Location is:
      div #{Location}